<footer class="align-items-center d-flex justify-content-center mt-5 w-100">
    <p>@(DateTime.Now.Year) © @ViewData["ProjectName"] - Desenvolvido por <a href="https://ivan.com/" data-bs-original-title="Visitar" data-bs-placement="top" data-bs-toggle="tooltip" style="color: #727cf5 !important;" target="_blank">Ivan Soluções</a> - Versão 1.0.0</p>
</footer>