@{
    string TratarNome(string nomeUsuario)
    {
        string[] partes = nomeUsuario.Split(' ');

        if (partes.Length == 1)
        {
            return partes[0];
        }

        string primeiroNome = partes[0];
        string inicialUltimoNome = partes[partes.Length - 1][0] + ".";

        return $"{primeiroNome} {inicialUltimoNome}";
    }

    var nomeUsuario = User.Claims.Any(x => x.Type == "Nome") ? User.Claims.First(x => x.Type == "Nome").Value : "";
    var subtituloUsuario = User.Claims.Any(x => x.Type == "Subtitulo") ? User.Claims.First(x => x.Type == "Subtitulo").Value : "";
    var nomeTratado = TratarNome(nomeUsuario);
    var nomeUrl = System.Web.HttpUtility.UrlEncode(nomeUsuario);
}

<header class="align-items-center bg-white d-flex justify-content-between rounded-bottom-4 shadow-sm" style="height: 70px;">
    <div class="align-items-center d-flex flex-grow-1 justify-content-between px-3">
        <button class="btn" onclick="toggleSidebar()" type="button">
            <i class="bi bi-list" style="font-size: 24px;"></i>
        </button>

        <button class="btn" onclick="toggleFullscreen()" type="button">
            <i class="bi bi-fullscreen" style="font-size: 20px;"></i>
        </button>
    </div>

    <div class="align-items-center border-start d-flex h-100 position-relative px-3 rounded-start-4">
        <button class="align-items-center btn d-flex gap-3" onclick="$('#botaoLogout').toggle()" type="button">
            <img class="rounded-circle" src="https://ui-avatars.com/api/?name=@nomeUrl&&background=random" style="width: 33px;"/>
        
            <div class="align-items-center d-flex flex-column">
                <p class="fw-bold" style="font-size: 14px;">@nomeTratado</p>
                <p style="font-size: 12px;">@subtituloUsuario</p>
            </div>
        </button>

        <div class="bg-white border position-absolute px-3 py-1" id="botaoLogout" style="bottom: 0; cursor: pointer; display: none; left: 0; transform: translateY(100%)">
            <a class="align-items-center d-flex gap-2" href="/Auth/Login?handler=logout" style="color: var(--cinzaEscuro);">
                <i class="bi bi-box-arrow-left"></i>
                <p>Logout</p>
            </a>
        </div>
    </div>
</header>